*,
*::before,
*::after {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:'Arial','Georgia';
}
html{
  scroll-behavior: smooth;
}
body{
  background-color:#efefef;
  margin: 0 auto;
}

a{
  color: #010202;
  &:hover{
    cursor: pointer;
  }
}
@mixin text-size-weight-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 50px;
}
@mixin text-color-gradient {
  color: #131313;
  background: #e7e5e4;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
.header{
  position: sticky; /* Липкое позиционирование */
  top: 0;  
  display: flex;
  height: 60px;
  background-color: rgba(175, 167, 167, 0.692);
  .nav__bar{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: rgba(104, 65, 55, 0.925);
    height: inherit;
    
    .links{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: inherit;
      .link__item{
        a{
          color: rgba(104, 65, 55, 0.925);
        }
      }
    }
  }
}
.main{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
 
  .container{
    display: flex;
  }
}

.section__info{
  max-width: 400px;
  
  background-color:rgba(87, 151, 95, 0.774);
  padding: 10px;
  background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
  img{
    max-width: 380px;
    border-radius: 10px;
  }
  .contacts{
    @include text-size-weight-position;
    color: #5c4646;
    .info__links{
      @include text-size-weight-position;
    }
    
  }
  .skills{
    @include text-size-weight-position;
    color: #5c4646;
    .skill__item{
      @include text-size-weight-position;
    }
    
  }
  .english{
    @include text-size-weight-position;
    color: #5c4646;
    .lang__items{
      @include text-size-weight-position;
    }
  }
  .strengths{
    @include text-size-weight-position;
    color: #5c4646;
    .strengths__item{
      @include text-size-weight-position;
     
    }
    
  }
  .code__examples{
    @include text-size-weight-position;
    color: orange;
    .violet{
      color: violet;
    }
    .blue{
      color: blue;
    }
    .red{
      color: rgb(255, 25, 25);
    }
  }
  .connections{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    img{
      max-width: 40px;
      border-radius: 5px;
      }
      div{
        &:hover{
          transform: scale(1.5);
          transition: all 0.5s;
          a{
            color: #cc01ffda;
            transition: all 0.5s;
          }
         
        }
      }
   }
 
}

.section__about{
  width: 100%;
  background-color:#efefef;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  color: #5c4646;
  .me{
    align-self: center;
    margin: 50px 0;
    font-size: 30px;
    color: #947e1c;
  }
  .about__me{
    @include text-size-weight-position;
    .about__me-info{
      background-color: rgba(87, 151, 95, 0.774);
      min-width: 820px;
      text-align: center;
      border-radius: 20px;
    }
    .blue{
      color: rgb(123, 81, 240);
    }
  }
  
  .education{
    @include text-size-weight-position;
    .education-info{
      background-color: rgba(87, 151, 95, 0.774);
      min-width: 820px;
      text-align: center;
      border-radius: 20px;
    }
    // .institutions{
      
    // }
    
  }
  .experience{
    margin-bottom: 20px;
    
   .work__experience{
    @include text-size-weight-position;
     background-color: rgba(87, 151, 95, 0.774);
     max-width: 820px;
     margin: 0 auto;
     text-align: center;
     border-radius: 20px;
     font-size: 30px;
     margin-bottom: 20px;
   }
   .jobs{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     font-size: 20px;
     .job-1{
       align-self: flex-start;
     }
     .job-3{
      align-self: flex-end;
    }
    span{
      font-weight: bold;
    }
   }
  }
}

.work__examples{
  @include text-size-weight-position;
  .it__projects{
    background-color: rgba(87, 151, 95, 0.774);
    min-width: 820px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .project__list{
    display: flex;
    max-width: 820px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
    .projects__item{
      max-width: 400px;
      border-radius: 10px;
     &:hover{
      -webkit-box-shadow: 1px 1px 17px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 17px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 17px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s;
      

     }
      img{
        max-width: 350px;
        border-radius: 10px;
        height: 180px;
      }
    }
    .project__title{
      text-align: center;
      color: #5c4646;
    }
  }
}

.hobby{
  .hobby-info{
    background-color: rgba(87, 151, 95, 0.774);
    color: #5c4646;
    min-width: 820px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 30px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  gap: 20px;
  .sport{
    align-self: flex-start;
  }
  .music{
    
    align-self: flex-end;
  }
  .my__project{
    margin-bottom: 20px;
    .agimw{
      color: #000000;
      font-size: 35px;
      transition: all 0.2s linear 0s;
      background-color:#efefef;
      display: flex;
      flex-direction: column;
      gap: 30px;
      img{
        border-radius: 10px;
      }
      &:hover{
        @include text-color-gradient;
        background-color:#efefef;
        transition: all 0.2s linear;
      }
    }
    .band__links{
      display: flex;
      justify-content: space-around;
      align-items: center;
      .band-link{
        &:hover{
          transform: scale(1.5);
          transition: all 0.5s;
        }
      }
      img{
        max-width: 50px;
      }
    }
  }
  .janres{
    @include text-size-weight-position;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    img{
      width: 70px;
      border-radius: 10px;
    }
    .janres__item{
      display: flex;
      align-items: center;
      gap: 90px;

    }
  }
}



.footer{
  
  padding: 30px;
  background-color: rgba(87, 151, 95, 0.774);
   .footer__container{
     display: flex;
     justify-content: space-around;
     div{
       width: 250px;
     }
   }
   .date{
     display: flex;
     justify-content: center;
     margin-top: 40px;
     font-weight: bold;
     font-size: 20px;
     color: #000000;
   }
   .footer-github{
    img{
      max-width: 100px;
      border-radius: 50px;

    }
   }
}

